html {
    height: 100vh;
}
body {
    background-image: url("static/wood-planks_rotated.jpg");
    background-size: 50%;
    background-repeat: repeat repeat;
}
* {
    position: relative;
    margin: auto;
}
.container {
    display: flex;
    height: 100%;
    width: 100%;
}
#iPhone {
    height: 720px;
    width: 400px;
}
#case {
    top: 20px;
    height: 700px;
    width: 340px;
    background-color: hsl(223, 24%, 89%);
    border: 5px solid #151f37;
    border-radius: 50px;
    /* box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);*/
    box-shadow: 1px 1px 4px 4px rgba(255, 255, 255, 0.15);
}
#screen{
    background-image: url("static/wp-simple.jpg");
    background-size: 100% 100%;
    margin-top: 77px;
    height: 526px;
    width: 296px;
    background-color: hsl(223, 24%, 14%);
    border: 2px solid #192133;
}
.screen-area{
    width: 100%;
    height: 25px;
    position: absolute;
}
#screen-heading {
    top: 0px;
}
#screen-footage {
    bottom: 0px;
}
#mobile-network {
    position: absolute;
    left: 3px;
    text-align: center;
    font-family: Trebuchet MS, sans-serif;
    color: hsl(223, 24%, 89%);
}
#battery {
    position: absolute;
    right: 3px;
    top: 2px;
    width: 17px;
    height: 17px;
}
#clock, #date{
    text-align: center;
    font-family: Trebuchet MS, sans-serif;
    color: hsl(223, 24%, 89%);
}
#clock {
    top: 35px;
    font-size: 75px;
}
#date {
    margin-top: 30px;
    font-size: 25px;
}
#slider {
    position: absolute;
    font-family: Trebuchet MS, sans-serif;
    background: linear-gradient(270deg, #000000, #111b27, #1f3247, #273e59, #355479, #406691, #355479, #273e59, #1f3247, #111b27, #000000);
    background-size: 400%;
    font-size: 27px;
    font-weight: 500;
    left: 60px;
    top: 450px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0% {
        background-position: 400%;
    }
    100% {
        background-position: 0%;
    }
}
.oval-button {
    position: absolute;
    top: 45%;
    left: 46%;
    background-color: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 4px;
    border: 1px solid #192133;
    border-radius: 3px;
}
#camera-png {
    position: absolute;
    opacity: 0.5;
    right: 3px;
    width: 25px;
    height: 100%;
}
#underscreen-button {
    margin-top: 10px;
    height: 66px;
    width: 66px;
    background-color: hsl(223, 24%, 89%);
    border: 5px solid #192133;
    border-radius: 40px;
}
#speaker, #round-element, #front-camera {
    position: absolute;
    background-color: #192133;
    border: 1px solid #192133;
    border-radius: 3px;
}
#speaker {
    top: 40px;
    left: calc(50% - 20px);
    height: 3px;
    width: 39px;

}
#round-element{
    top: 18px;
    left: calc(50% - 3.5px);
    height: 5px;
    width: 5px;
}
#front-camera {
    top:37px;
    height: 8px;
    width: 8px;
    left: 125px;
    border-radius: 6px;
}
.side-button {
    background-color: #151f37;
    width: 7px;
    position: absolute;
    border: 1px solid #151f37;
    border-radius: 3px;
}
#power, #volume-up, #volume-down {
    height: 50px;
}
#power {
    top: 160px;
    left: 371px;
}
#volume-up {
    top: 160px;
    left: 21px;
}
#volume-down {
    top: 220px;
    left: 21px;
}
#silence {
    height: 24px;
    top: 110px;
    left: 21px;
}